<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-information">
      <div class="footer-content">
        <div class="footer-header">
          <div class="branding-branding">
            <span class="branding-text"><span>Remarkable</span></span>
            <svg viewBox="0 0 1024 1024" class="branding-icon">
              <path d="M128 128h768v768h-768z"></path>
            </svg>
            <span class="branding-text1"><span>Remarkable</span></span>
          </div>
          <p class="footer-text">
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliquat enim
              ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
            </span>
          </p>
        </div>
        <div class="footer-contact-list">
          <div class="footer-contact">
            <img
              alt="image"
              src="/playground_assets/group%201639.svg"
              class="footer-image"
            />
            <span class="footer-text01">
              <span>office@remarkable.template</span>
            </span>
          </div>
          <div class="footer-contact1">
            <img
              alt="image"
              src="/playground_assets/group%201640.svg"
              class="footer-image1"
            />
            <span class="footer-text02"><span>+0 222.345.987</span></span>
          </div>
        </div>
      </div>
      <span class="footer-copyright">
        <span>©2022 Product Calgary. All Rights Reserved.</span>
      </span>
    </div>
    <div class="footer-links">
      <div class="footer-column">
        <span class="link"><span>About</span></span>
        <span class="link"><span>Training</span></span>
        <span class="link"><span>Events</span></span>
        <span class="link"><span>Membership</span></span>
        <span class="link"><span>Blog</span></span>
        <span class="link"><span>Contact</span></span>
      </div>
      <div class="footer-column1">
        <span class="link"><span>Linkedin</span></span>
        <span class="link"><span>Instagram</span></span>
        <span class="link"><span>Twitter</span></span>
        <span class="link"><span>Facebook</span></span>
      </div>
    </div>
  </footer>
</div>
